Source: makequick
Section: devel
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild (>= 0.1.4),
 libboost-filesystem-dev,
 libboost-regex-dev,
 libboost-system-dev,
 libprotobuf-dev,
 protobuf-compiler,
 bison,
 flex
Standards-Version: 3.9.4
Homepage: https://github.com/pippijn/makequick
Vcs-Git: git://github.com/pippijn/makequick
Vcs-Browser: https://github.com/pippijn/makequick

Package: makequick
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Build system on top of autotools
 MakeQuick compiles a purely declarative build definition to POSIX-compliant
 and thus fairly portable automake input. It solves a few problems with
 automake, such as the fact that libraries must appear in topological order
 with respect to internal dependencies.
